*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.banner-container{
    height: 100vh;
    background-color: #FCEEF1;
    
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 100px;
    justify-content: space-between;
    padding-bottom: 0px;
}
.btn{
    padding: 15px;
    border-radius: 10px;
    background-color: #E55473;
    color: white;
    margin-top: 25px;
    border: none;
}
.heading-container{
    font-size: 80px;
    margin-bottom: 25px;
}
.head-description{
    color: gray;
}
.head-img{
    /* padding-bottom: 0px;
    margin-top: 340px;
    padding-right: 80px; */

}
.featured-containers{
    text-align: center;
    background-color: white;
}
.featured-paragraph{
    margin-top: 15px;
    color: gray;
}
.featured-head{
    margin-top: 80px;
}
.rightside-container{
    margin-top: auto;
    line-height: 0%;

}
.box{
    width: 300px;
    height: 400px;
    background-color: #F1DDE7;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px gray;
    
    /* box-sizing: border-box; */
    margin: 50px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    line-height: 0%;
}
.box-img{
    /* width: 200px; */
    /* height: auto; */
    /* height: fit-content; */
    /* height: 300px; */
    margin-top: auto;

    
    
}
.boxes-containers{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.hot-deal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.hdimg{
    width: 150px;
    /* height: 250px; */
    padding-bottom: 80px;
}
.seal-container{
    display: flex;
    height: 30vh;
    background-color: #FCEEF1;
    
    background-size: cover;
    /* display: flex; */
    align-items: center;
    padding: 100px;
    /* justify-content: space-between; */
    padding-bottom: 0px;
    justify-content: space-around;
    align-items: center;

}
.off{
    color: rgb(255, 104, 129);
}
.seal-text{
    color: gray;
    align-items: center;
    
}
.s-photo{
    width: 250px;
    height: 250px;
    /* display: flex; */
    padding: 5px;
    margin: 25px;
    align-items: center;
}
.social{
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin-top: 30px;
}
.social-description{
    align-items: center;
}
.social-photos{
    display: flex;
    justify-content: center;
    padding: 10px;

    
}
.social-img{
    width: 250px;
    height:300px ;
    padding: 20px;
}
.insta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
/* .bgimg-container{
    background-image: url("./F:\Ass 1\Online-Flower-Shop\Flower Asset\Rectangle 9.png");
    width: 400px;
    height: 100px;
} */
footer{
    background: black;
    height: auto;
    width: 100vw;
    padding-top: 50px;
    color: white;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-head{
    font-size: 60px;
    padding-bottom: 20px;
}
.f-flower{
    color: #E55473;
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px;
    text-align: center;
    color: gray;
}
.lower-description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: url("Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    margin: auto;
    height: auto;
    width: 70vw;
    padding-top: 50px;
    color: white;

}
.lower-paragraph{
    padding-top: 20px;
    padding-bottom: 25px;
}
.email-btn{
    padding-right: 280px;
    padding-top: 20px;
}
.button-form{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.loewer-btn{
    padding-bottom: 25px;
}

/* reg from section */

.container {
    width: 400px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
.email-inp{
    width: 100px;
    
}